BasedOnStyle: LLVM
Language: Cpp
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 88
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 100
AlignOperands: DontAlign
BreakBeforeBinaryOperators: NonAssignment
PointerAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
